
<div id="header">
	<div class="headerWrapper clearfix">
		
		<div class="social">
			<ul>
				<li><%= link_to image_tag("SocialIcons/facebook.png"), "https://www.facebook.com/pages/Bible-Baptist-Church-of-New-Egypt-NJ/167800076581376", :style => "background: #3b5998",:target => "_blank", :title => "Facebook" %></li>
				<li><%= link_to image_tag("SocialIcons/twitter.png"), "https://twitter.com/DominickCuozzo", :target => "_blank", :style => "background: #4cc2ff;", :title => "Twitter" %></li>
				<li><%= link_to image_tag("SocialIcons/vimeo.png"), "http://vimeo.com/user6420505", :target => "_blank", :style => "background: #4cc2ff;", :title => "Vimeo" %></li>
				<li><%= link_to image_tag("SocialIcons/google.png"), "#", :target => "_blank", :style => "background: #d23e2b", :title => "Google +" %></li>
			</ul>
		</div>
		<div id="menuPanelButton">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="logo"> 
			<%= link_to image_tag("transLogo.png"), refinery.root_path %>
       	</div>
    </div>	
</div>
<div class="topMenu">
	<%= render(:partial => "/refinery/menu", :locals => {
	             :dom_id => 'menu',
	             :css => 'menu'
	           }) %>
</div>
<div id="middleBackground"></div>
<div class="clear"></div>
